<cdk-virtual-scroll-viewport tvsItemSize class="wrapper mat-elevation-z2">
  <table mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- <ng-container matColumnDef="fullname" sticky>
      <th mat-header-cell
          *matHeaderCellDef
          class="col-sm">No.</th>
      <td mat-cell
          *matCellDef="let element"
          class="col-sm">{{element.fullname}}</td>
    </ng-container> -->

    <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns; let i = index"
      [sticky]="item === 'fullname'">
      <th mat-header-cell *matHeaderCellDef [innerHTML]=" item | cellDate "></th>
      <td mat-cell *matCellDef="let element" [class.soft-cyan]="isToday(item)" [class.bluish-grey]="isWeekend(item)"
        [class.bright-green]="isEvent(element, item)">
       {{ element[item]}}
       <i *ngIf="showAddShift(element, item)" (click)="openDialog()" class="add-shift fa fa-plus"></i>
      </td>
    </ng-container>

  </table>

</cdk-virtual-scroll-viewport>